# Python
__pycache__/
*.pyc

# Virtual Env
venv/
env/
.env

# Database
*.db
*.sqlite3

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Generated Reports
*.pdf

# Logs
*.log
*.txt
!requirements.txt

# Backup
.git_bak/
